.mainTitle {
  color: red;
}

.App-header {
  background-color: #ffffff00;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}